<!DOCTYPE html>
<html>
<head>
    <title>Teacher Page</title>
    <style>
        h1 {
    text-align: center;
    margin-bottom: 3rem;
}
.info {
 display: flex;
 justify-content: space-between;
}
input[type="file"] {
    font-size: 1rem;
}
input[type="submit"] {
    padding: 1rem 3rem;
    background: black;
    color: white;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
}
    </style>

</head>
<body>
    <h1>Analysis Page for overall student </h1>
    <a href="{{ url_for('home') }}"><button>Home</button></a>
    <div class="info">
    <!-- Form for uploading CSV file -->
    <form action="/teacher" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv">
        <input type="submit" value="Upload">
    </form>

    <form action="/numeda" method="post">
        <input type="submit" value="Numeric Analysis">
    </form>

    <form action="/final_analysis" method="post">
        <input type="submit" value="Marks Analysis">
    </form>
    
    <form action="/eda" method="post">
        <input type="submit" value="EDA">
    </form>
</div>
    <!-- Display uploaded CSV data -->
    {% if table %}
    <h2>Uploaded CSV Data</h2>
    {{ table|safe }}
    {% endif %}

</body>
</html>